/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  | SEMI | BSPC |
// | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O   | ENT  |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /   | SHFT |
//                    | LAY | ALT | SPC |   | SPC | GUI  | LAY |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
   &kp LCTRL &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E     &kp I   &kp O    &kp ENT
   &kp LSHFT &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                 &mo 1  &kp LALT &kp SPACE   &kp SPACE &kp LGUI &mo 2
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB | BTCLR |    |    |    | BT1  |   |  -  |  7  |  8  |  9  |  /  | BKSP |
// | CTRL |       |    |    |    | BT2  |   |  +  |  4  |  5  |  6  |  *  |      |
// | SHFT |       |    |    |    | BT3  |   |  .  |  1  |  2  |  3  |     |      |
//                    | LAY | ALT | SPC |   | ENT |  0  | LAY |
                        bindings = <
   &kp TAB    &bt BT_CLR  &trans  &trans  &trans  &bt BT_SEL 0   &kp MINUS  &kp N7   &kp N8   &kp N9  &kp FSLH     &kp BSPC
   &bt LCTRL  &trans      &trans  &trans  &trans  &bt BT_SEL 1   &kp PLUS   &kp N4   &kp N5   &kp N6  &kp ASTERISK &trans
   &kp LSHFT  &trans      &trans  &trans  &trans  &bt BT_SEL 2   &kp DOT    &kp N1   &kp N2   &kp N3  &trans       &trans
                                    &trans  &trans  &kp SPACE    &kp RET  &kp N0   &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  ESC |  !  |  @  |  (  |  )  |  ^  |   | "|" |  '  |  "  |    |     | BKSP |
// | CTRL |  #  |  $  |  [  |  ]  |  -  |   |  \  | LFT | DWN | UP | RGT |      |
// | SHFT |  %  |  &  |  {  |  }  |  _  |   |  ~  |     |     |    |     |      |
//                 | LAY |  ALT   | SPC |   | ENT |  GUI   | LAY |
                        bindings = <
   &kp ESC   &kp EXCL   &kp AT    &kp LPAR  &kp RPAR  &kp CARET   &kp PIPE   &kp APOS  &kp BQT   &kp GRAVE  &trans     &kp BSPC
   &kp LCTRL &kp HASH   &kp DLLR  &kp RBKT  &kp BSLH  &kp MINUS   &kp BSLH   &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans
   &kp LSHFT &kp PRCNT  &kp AMPS  &kp LBRC  &kp RBRC  &kp UNDER   &kp TILDE  &trans    &trans    &trans     &trans     &trans
                                      &trans &trans   &kp SPACE   &kp RET   &trans    &trans
                        >;
                };
        };
};
